<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>Patients list</title>
</head>
<body>
<div class="p-3">
    <div class="card">
        <div class="card-header">Patients List</div>
        <div class="card-body">
            <form class="d-flex pb-2" th:action="@{index}" method="get">
                <input type="text" class="form-control me-2" th:value="${keyword}" name="keyword"
                       placeholder="Search by a keyword">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Birth date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.birthDate}"></td>
                    <td>
                        <a th:href="@{'/patients/' + ${patient.id}}" class="btn btn-primary">
                            View
                        </a>
                        <a th:href="@{'/patients/' + ${patient.id} + '/edit'}" class="btn btn-secondary">
                            Edit
                        </a>
                        <a th:href="@{delete(id=${patient.id})}" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page, status: ${pages}">
                    <a th:href="@{/index(page=${status.index}, keyword=${keyword}) }"
                       th:class="${currentPage == status.index} ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'"
                       th:text="${status.index + 1}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>